# =========================
# Visual Studio / .NET
# =========================
.vs/
# =========================
# NuGet
# =========================
packages/
# =========================
# VS Code
# =========================
.vscode/